<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>Translator</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link type="text/css" rel="stylesheet" href="css/style.css" th:href="@{css/style.css}" />
	</head>
	<body>
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        
	<div th:if="${#httpServletRequest.isUserInRole('ADMIN')}" >          
		<a class="btn btn-danger" href="/add">Add translation</a>
	</div>
 
		<div class="col-md-4">
		<h1></h1>
		</div>
		<div class="headercont">
			<div class="header">
				<form action="#" th:action="@{/start}" th:object="${record}" method="post" id="myForm">
					<div class="logo">
					</div>
					<div class="sb">
						<input type="text" th:field="*{word}" name="search" id="search" class="qs" value="" />
						<input type="submit" value="Submit" id="btnsubmit"/>
						<input th:onclick="'javascript:changeX(this);'" th:field="*{direction}" type="button" th:value="*{direction}" size="30" id="direction2" name="direction2"></input>
						<input type="hidden" th:field="*{direction}" name="direction" id="direction" class="qs2" th:value="*{direction}" width="1"/>
					</div>
					<div class="header">
						<div class="sb" th:remove="tag" th:utext="${record.content}"></div>
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript">		
			function changeX(el) {
				console.log("--------------changing of the direction");
			    if (el.value == "En-Fi") {
			    	el.value = "Fi-En";
			    	document.getElementById("direction").value = "Fi-En";
			    }
			    else {
			    	el.value = "En-Fi";
			    	document.getElementById("direction").value = "En-Fi";
			    }
			}
		</script> 
	</body>
</html>